body {
    margin: 0;
    overflow: hidden;
    background-color: #222;
}
canvas {
    display: block;
    background-color: #1f4e03;
}
.inventory {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    column-gap: 5px;
    row-gap: 5px;
    position: fixed;
    bottom: 5px;
    left: 5px;
    grid-auto-rows: 50px;
}
.slot {
    width: 50px;
    height: 50px;

    border: 2px solid white;
    background: #333;

    color: white;
    display: flex;

    align-items: center;
    justify-content: center;

    font-size: 12px;
}
.Cords {
    position: fixed;
    top: 20px;
    left: 20px;
    color: white;
    font-family: monospace;
}